@import '../../variables';
.btn{
  border-radius: 0px;
  background-color: rgba(0,0,0,0) ;
  &-next{
    align-self: flex-end;
    border: 2px solid $dustygreen;
    color: $dustygreen;
  }
  &-prev{
    align-self: flex-start;
    border: 2px solid $dustygreen;
    color: $dustygreen;
  }
  &-add-guest{
    border: 2px solid $dustygreen;
    color: $dustygreen;
    width: 100%;
  }
  &-external{
    align-self: flex-start;
    border: 2px solid $dustygreen;
    color: $dustygreen;
  }
  &-disabled{
    background-color: lightgrey;
    color: grey;
    opacity: 0;
  }
  &-remove{
    border: 2px solid $dustypink;
    color: $dustypink;
  }
  &-right{
    align-self: flex-end;
  }
}