@import '../../variables';

.heading{
  &-text{
    font-family: 'Acoustica South', sans-serif;
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
    color: $dustypink;
  }
  &-text--main{
    font-family: 'Acoustica South', sans-serif;
    font-size: 4.5rem;
    letter-spacing: 1.3px;
    font-weight: 500;
    line-height: 0.75;
    padding: 0;
    color: $dustypink;
  }
  &-subtext{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0;
    color: $dustypink;
  }
  margin: 60px 0;
  margin-bottom: 30px;
}