@import '../../variables';
.form{
  border: 1px solid $lightgrey;
  margin: 0 auto;
  box-shadow: 10px 10px 40px rgba(black, .15);
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  margin-bottom: 90px;
}