.site-footer{
  min-height: 150px;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  &-side{
    height: 40%;
    width: 380px;
    flex-grow: 1;
    background-image: url('../../Images/bottom/side-1.png');
    background-size: cover;
    position: absolute;
  }
  &-middle{
    height: 150px;
    width: 100%;
    flex-grow: 1;
    background-image: url('../../Images/bottom/bottom-2.png');
    background-size: cover;
  }
  &-left{
    background-position: top right;
    transform: scaleY(-1) scaleX(1);
  }
  &-side-left {
    background-position: bottom right;
    left: 0px;
  }
  &-right{
    background-position: top left;
    transform: scaleY(-1) scaleX(-1);
  }
  &-side-right{
    background-position: bottom left;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    left: auto;
    right: 0px;
  }
  &-center{
    position: absolute;
    left: calc(50% - (150px / 2));
    z-index: 1;
    height: 150px;
    min-width: 150px;
    flex-grow: 1;
    background-image: url('../../Images/top/top-4.png');
    background-size: cover;
  }
}
