.site-footer{
  min-height: 150px;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  &-middle{
    height: 241px;
    width: 100%;
    flex-grow: 1;
    background-image: url('../../Images/bottom/bottom-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
