@import url('http://fonts.cdnfonts.com/css/optimus-princeps');
@import url('http://fonts.cdnfonts.com/css/acoustica-south');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
/*main stlyle shee*/
@tailwind base;
@tailwind components;
@tailwind forms;
@tailwind utilities;

.grecaptcha-badge { visibility: hidden; }

ul > li::marker{
    display: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

* {
    font-family: 'Lora', serif;
    font-size: 1.07rem;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
}

.btn-secondary:hover{
    background-color: rgba(0,0,0,0);
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
